---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$primary-red:		#E87568;
$primary-red-dark:	#C26257;
$primary-navy:		#2C3E50;
$primary-navy-light: lighten($primary-navy,5%);

$background-grey:	darken(white,10%);

$vertical-space: 50px;

$nav-height: 110px;
$small-nav-height: 70px;

$font-stack: "Avenir Next", "Avenir", "Open Sans", "Verdana", "Helvetica", "arial", sans-serif;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* MONO SOCIAL ICONS FONT */
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "sjdhelpers",
	"general",
	"nav",
	"hero",
	"portfolio-grid",
	"about",
	"contact",
	"footer",
    "layout"
;
