<article class="article-wrap" id="about">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h3 class="header-white">ABOUT ME</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-5 col-md-offset-1">
				<p>My name is Samuel James Davis [see: Sam], I’m a design student at the University of Western Sydney, Penrith. My passions lie within the field of web design & development (or any sort of interaction design), though I’m happy doing just about any sort of design.</p>
			</div>
			<div class="col-sm-6 col-md-5">
				<p>On top of my design background I also love software development, which I am steadily, yet slowly learning. And whilst I currently haven’t made anything of note or significance yet, things are definitely churning in the background for me to do just that.</p>
			</div>
		</div>
	</div>
</article>