<article class="article-wrap" id="about">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h3 class="header-white">ABOUT ME</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1">

				<div class="row">
					<div class="col-sm-6">
						<p>My name is Samuel James Davis [see: Sam], I’m a design student at the University of Western Sydney, Penrith. My passions lie within the field of web design & development (or any sort of interaction design), though I’m happy doing just about any sort of design.</p>
					</div>
					<div class="col-sm-6">
						<p>On top of my design background I also love software development, which I am steadily, yet slowly learning. And whilst I currently haven’t made anything of note or significance yet, things are definitely churning in the background for me to do just that.</p>
					</div>
				</div>
				<br><br>

				<div class="row"><div class="col-sm-12 sjd-text-center"><h6 class="sjd-text-white sjd-text-uppercase">Application Experience</h6></div></div>
				<div class="row">

					{% for app in site.apps %}
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ app[1]['skill'] }}%">
						    {{ app[1]['icon'] }}&nbsp;&nbsp;{{ app[1]['name'] }}
						  </div>
						</div>
					</div>
					{% endfor %}

				</div>

				<br>

				<div class="row"><div class="col-sm-12 sjd-text-center"><h6 class="sjd-text-white sjd-text-uppercase">Language/Platform Experience</h6></div></div>
				<div class="row">
					{% for language in site.languages %}
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ language[1]['skill'] }}%">
						    {{ language[1]['name'] }}
						  </div>
						</div>
					</div>
					{% endfor %}
				</div>

			</div>
		</div>
	</div>
</article>