<article class="article-wrap" id="about">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h3 class="header-white">ABOUT ME</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-lg-10 col-lg-offset-1">
				<div class="row">
					<div class="col-sm-6">
						<p>My name is Samuel James Davis [see: Sam], I’m a design student at the University of Western Sydney, Penrith. My passions lie within the field of web design & development (or any sort of interaction design), though I’m happy doing just about any sort of design.</p>
					</div>
					<div class="col-sm-6 col-md-5">
						<p>On top of my design background I also love software development, which I am steadily, yet slowly learning. And whilst I currently haven’t made anything of note or significance yet, things are definitely churning in the background for me to do just that.</p>
					</div>
				</div>
				<br><br>
				<div class="row"><div class="col-sm-12 sjd-text-center"><h6 class="sjd-text-white sjd-text-uppercase">Application Experience</h6></div></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.illustrator }}%">
						    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Illustrator / Sketch
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.indesign }}%">
						    <i class="fa fa-book"></i>&nbsp;&nbsp;InDesign
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.photoshop }}%">
						    <i class="fa fa-camera"></i>&nbsp;&nbsp;Photoshop
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.lightroom }}%">
						    <i class="fa fa-lightbulb-o"></i>&nbsp;&nbsp;Lightroom
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.finalCut }}%">
						    <i class="fa fa-video-camera"></i>&nbsp;&nbsp;Final Cut Pro X
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.afterEffects }}%">
						    <i class="fa fa-magic"></i>&nbsp;&nbsp;After Effects
						  </div>
						</div>
					</div>
				</div>

				<br>
				<div class="row"><div class="col-sm-12 sjd-text-center"><h6 class="sjd-text-white sjd-text-uppercase">Language Experience</h6></div></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.html }}%">
						    &lt;/&gt;&nbsp;&nbsp;HTML5
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.css }}%">
						    { }&nbsp;&nbsp;CSS3
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.javascript }}%">
						    ({})&nbsp;&nbsp;JavaScript
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.sql }}%">
						    <i class="fa fa-table"></i>&nbsp;&nbsp;SQL
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.objectiveC }}%">
						    [ ]&nbsp;&nbsp;Objective-C
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.python }}%">
						    &gt;&nbsp;&nbsp;Python
						  </div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: {{ site.php }}%">
						    &lt;?&gt;&nbsp;&nbsp;PHP
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>