<article class="article-wrap" id="contact">
  <div class="container">
  <h3 class="header-navy text-center">CONTACT ME</h3>

    <form>

      <div class="row">
        <div class="form-group col-sm-6 col-md-5 col-md-offset-1">
          <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group col-sm-6 col-md-5 col-md-offset-1">
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address">
        </div>
        <div class="form-group col-sm-6 col-md-5">
          <input type="phone" class="form-control" id="exampleInputPhone1" placeholder="Phone Number">
        </div>
      </div>

      <br>

      <div class="row">
        <div class="form-group col-sm-12 col-md-10 col-md-offset-1">
          <textarea class="form-control" rows="5" placeholder="Message" id="exampleInputMessage1"></textarea>
          <br><br>
          <button type="submit" class="btn btn-default" id="contactButtonSend">Send</button>
        </div>
      </div>

    </form>
  </div>
</article>