<!-- MAIN FOOTER -->
<div class="article-wrap" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p class="social-icons">
					<a href="mailto:{{ site.email }}">&#xe224;</a> 
					<a href="http://twitter.com/{{ site.twitter }}">&#xe286;</a> 
					<a href="http://instagram.com/{{ site.instagram }}">&#xe300;</a>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- VERY FOOTER -->
<div class="article-wrap" id="very-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span>© 2014 Samuel Davis. All Rights Reserved</span>
			</div>
		</div>
	</div>
</div>