<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button id="navbutton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top" id="site-h1">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="main-nav">
        <li class="navbar-link"><a href="#portfolio">Portfolio</a></li>
        <li class="navbar-link"><a href="#about">About</a></li>
        <li class="navbar-link"><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Hero Section -->
<div class="article-wrap" id="hero">
  <div class="container-fluid" id="hero-section">
    <div class="row" id="hero-content">
      <div class="col-sm-10 col-sm-offset-1">
        <img class="center-block" src="{{ site.base-url }}/img/me.png">
        <h2 class="text-center" id="hero-text-1">SAM DAVIS</h2>
        <h4 class="text-center" id="hero-text-2">DESIGNER + DEVELOPER</h4>
      </div>
    </div>
  </div>
</div>