<article class="article-wrap" id="portfolio">
	<div class="container">
		<div class="row center-block text-center">
			<div class="col-md-12">
				<h3 class="text-center">PORTFOLIO</h3>
			</div>
			<div class="row portfolio-row">

				<!-- Ordering logic based off of the modalId -->
				{% for weight in (1..100) %}{% for post in site.posts %}{% if post.modalId == weight %}
				<div class="col-sm-6 col-md-4 portfolio-item">
					<a href="#{{ post.slug }}" data-toggle="modal" data-keyboard="true" class="portfolio-modal-link">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search fa-3x"></i>
							</div>
							<div class="caption-description">
								<p>{{ post.title }}</p>
							</div>
						</div>
					</a>
					<img src="{{ post.img }}">
				</div>
				{% endif %}{% endfor %}{% endfor %}

			</div>
		</div>
	</div>
</article>