#footer {
	background-color: $primary-red;
}

#very-footer {
	height: 40px;
	line-height: 40px;
	padding: 0px;

	background-color: $primary-red-dark;

	font-size: 1em;
	color: white;
	font-family: 'Avenir Next';
	font-weight: 400;
}