h1, h2, h3, h4, h5, h6 {
	font-family: "Avenir Next";
	color: white;
	font-weight: 700;
}

h2 {
	font-size: 3em;
	@include media-query(767px){
		font-size: 2em;
	}
}

h3 {
	font-size: 2.25em;
	padding: $vertical-space 0;
	@include media-query(767px){
		font-size: 1.25em;
	}
}

h4 {
	font-size: 2.25em;
	font-weight: 300;
	font-style: italic;
	@include media-query(767px){
		font-size: 1.25em;
	}
}

.header-navy {
	color: $primary-navy;
}

.header-white {
	color: white;
}

p {
	font-family: 'Avenir Next';
	font-size: 1.4em;
	color: white;
}

.article-wrap {
	padding: $vertical-space 0;
}