h1, h2, h3, h4, h5, h6, p, nav {
	font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: 700;

	margin: 0 0 $vertical-space 0;
}

h2 {
	font-size: 3em;
	padding-top: $vertical-space/2;
	margin-bottom: $vertical-space/3;
}

#hero-section {
	width: 100%;
	h2, h4 {
		margin: 0;
		padding: 0;
	}
	h2 {
		margin-top: $vertical-space;
	}
	h4 {
		margin-top: $vertical-space/4;
	}
}

h3 {
	font-size: 2.25em;
	@include media-query(767px){
		font-size: 1.75em;
	}
}

h4 {
	font-size: 2.25em;
	font-weight: 300;
	font-style: italic;
	margin-bottom: $vertical-space/3;
	@include media-query(767px){
		font-size: 1.25em;
	}
}

h5 {
	color: $primary-navy;
	font-size: 2em;
	text-transform: uppercase;
}

h6 {
	margin: $vertical-space/2 0;
	color: $primary-navy;
	font-size: 1.5em;
}

.header-navy {
	color: $primary-navy;
}

.header-white {
	color: white;
}

p {
	font-size: 1.5em;
	color: white;
}

a {
	color: $primary-red;
	&:hover {
		color: $primary-red-dark;
	}
}

.article-wrap {
	width: 100%;
	padding: $vertical-space 0;
}

.social-icons {
	font-family: 'Mono Social Icons Font';
	font-size: 5em;
	text-align: center;

	line-height: 1;
	padding: 0;
	margin: 0;
	a {
		padding-left: .75em;
		&:first-child {
			padding-left: 0;
		}
		color: rgba(255,255,255,.3);
		&:hover {
			text-decoration: none;
			border: 0;
			color: white;
		}
	}
}

.img-centered {
	margin: 0 auto $vertical-space/2 auto;
}

.text-small {
	font-size: 1.2em;
}

.text-highlight {
	color: $primary-red;
}

#contact {
	input.invalid, textarea.invalid {
		background-color: rgba(red,.1);
		border: 2px solid rgba(red,.5);
	}
	input.valid, textarea.valid {
		background-color: rgba(green,.1);
		border: 2px solid rgba(green,.5);
	}
}

ul, ol {
	text-align: left;
	margin-top: -($vertical-space/2);
	margin-bottom: $vertical-space;
	li {
		font-family: $font-stack;
		color: $primary-navy;
		//font-weight: 300;
	}
}

h6.subtitle {
	text-align: center;
	margin-top: -30px;
	text-transform: uppercase;
	font-weight: 400;
	font-style: italic;
}

.progress {
	$progress-bar-height: 40px;
	background-color: $primary-navy-light;
	height: $progress-bar-height;
	.progress-bar {
		background-color: $primary-red;
		line-height: $progress-bar-height;
		font-size: 1.2em;
		font-family: $font-stack;
		font-weight: 600;
		color: $primary-navy;

		@include media-query(1199px) {
			font-size: 1em;
		}
	}
	.progress-bar-blue {
		background-color: $primary-navy;
		color: $primary-red;
	}
}