#portfolio {
	background-color: $background-grey;
	width: 100%;
	h3 {
		color: $primary-navy;
	}
	h6.subtitle {
		margin-top: -40px;
		font-size: 1.25em;
	}
	img {
		z-index: 0;
		width: 100%;
		height: 100%;
	}

	.portfolio-container {
		@include media-query(1199px) {
			width: 100%;
			margin: 0;
		}
	}

	@include media-query(1199px) {
		padding-bottom: 0;
	}
}

.portfolio-item {
	margin-bottom: $vertical-space/2;
	&:hover {
		img {
			
		}
	}
	margin: 0;
	padding: 0;
}

.caption {
	z-index: 1000;
	position: absolute;

	background-color: rgba($primary-red,.85);

	overflow: hidden;

	height: 100%;
	left: 0; //15px;
	right: 0; //15px;
	opacity: 0;

	transition: all ease .2s;

	.caption-content {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -34px;
		color: $primary-navy;
	}

	.caption-description {
		background-color: rgba($primary-navy,.9);
		position: absolute;
		bottom: -25px;
		transition: all ease .2s;
		width: 100%;
		padding: 10px 0 0 0;
		p {
			@include media-query(439px) {
				font-size: 1em;
			}
		}
	}

	&:hover {
		opacity: 1;
		.caption-description {
			bottom: 0;
		}
	}
} 