#portfolio {
	background-color: $background-grey;
	width: 100%;
	h3 {
		color: $primary-navy;
	}
	img {
		z-index: 0;
		width: 100%;
	}
}

.portfolio-item {
	margin-bottom: $vertical-space/2;
	&:hover {
		img {
			-webkit-filter: blur(5px);
			filter: blur(5px);
		}
	}
}

.caption {
	z-index: 1000;
	position: absolute;

	background-color: rgba($primary-red,.6);

	overflow: hidden;

	height: 100%;
	left: 15px;
	right: 15px;
	opacity: 0;

	transition: all ease .2s;

	.caption-content {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -34px;
		color: $primary-navy;
	}

	.caption-description {
		background-color: rgba($primary-navy,.9);
		position: absolute;
		bottom: -25px;
		transition: all ease .2s;
		width: 100%;
		padding: 10px 0 0 0;
	}

	&:hover {
		opacity: 1;
		.caption-description {
			bottom: 0;
		}
	}
}