/* SJD HELPER CLASSES */

// Text
.sjd-text-center {
	text-align: center !important;
}
.sjd-text-left {
	text-align: left !important;
}
.sjd-text-right {
	text-align: right !important;
}

.sjd-text-uppercase {
	text-transform: uppercase !important;
}

.sjd-text-white {
	color: white !important;
}

.sjd-text-italic {
	font-style: italic !important;
}

// Content
.sjd-content-center {
	margin: 0 auto !important;
}

// IMG
.sjd-img-responsive {
	max-width: 100% !important;
}

// MIXINS
@mixin sjd-box-shadow($properties) {
	-webkit-box-shadow: $properties;
	   -moz-box-shadow: $properties;
	    -ms-box-shadow: $properties;
	        box-shadow: $properties;
}
@mixin sjd-border-radius($properties) {
	-webkit-border-radius: $properties;
	   -moz-border-radius: $properties;
	    -ms-border-radius: $properties;
	        border-radius: $properties;
}