/* SJD HELPER CLASSES */

// Text
.sjd-text-center {
	text-align: center !important;
}
.sjd-text-left {
	text-align: left !important;
}
.sjd-text-right {
	text-align: right !important;
}

// Content
.sjd-content-center {
	margin: 0 auto !important;
}

// IMG
.sjd-img-responsive {
	max-width: 100% !important;
}